<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
			<title>FitTasktic</title>
         {{!-- 
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/> --}}
		 
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/assets/js/auth.js"></script>
			<script src="/assets/js/fitbit.js"></script> 

			<link rel="icon" href="https://png2.kisspng.com/20180330/poq/kisspng-physical-fitness-physical-exercise-fitness-centre-excersice-5abe31e505ad15.8653587715224140530233.png" sizes="16x16" type="image/x-icon"/>
			
			<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		</head>
	<body>
		{{{ body }}}
	</body>
	</html>
