<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<title>FitTasktic</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
			
		<!---add script for modal-init and modal-window-->
		<!--<script src="/assets/js/test.js"></script>
		<script src="/assets/js/activity_modal-init.js"></script>
		<script src="/assets/js/activity_modal-window.js"></script>-->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/assets/js/auth.js"></script>
			<script src="/assets/js/fitbit.js"></script> 
			
		<!--<script src="/public/assets/js/fitbit.js"</script>-->
		
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 
