<div class="col-md-10 col-md-offset-2 main">
{{!-- <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> --}}
   <nav>
        <ul class="nav">
        
          <li> <a class="logoutButton" href=""><img class = "logImg" src="https://bpwsaskatoon.com/isl/themes/bpw/img/default-profile.jpg"><div class="logout">LOGOUT</div>

            </a></li>
        
        </ul>

        </nav>
        <h1 class="page-header">Dashboard</h1>
        <h3 class="sub-header">Progress</h3>
        <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:30%">
            <span class="sr-only">70% Complete</span>
        </div>
        </div>
        <h2 class="sub-header">Completed Activities</h2>

        <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Task</h4>  

            <h5>{{userID}}</h5>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Duration</h4>
        </div>
        </div>

        <h2 class="sub-header">Planned Activities</h2>

        <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Task</h4>      
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Duration</h4>
        </div>
        </div>
        <div class="randomMeals" id="random">
        <h3 class="sub-header">Check out one of the various meals below</h3>

        </div>
        
            <!-- The Modal -->
    <div class="modal" id="ytModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <!-- Modal content -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5><i class="modal-title"></i>Directions</h5>
                <div id="ytplayer" class="video-container"></div>
            </div>
        </div>
    </div>

    <div class="search">
        <form role="form">
            <input type="text" name="s" class="search-form" id="enteredMeal" autocomplete="off" placeholder="Craving something?"  />
            <button type="submit" class="glyphicon glyphicon-search" ></button>
        </form>
    </div>

     <div class="searchedMeals" id="searched">

     </div>

</div>