/**#dashboard {
  background-image: url("../image/test_pic.jpg");
  background-size: cover;
}**/
#dashboard{
  background-image: url("../image/pic_four.jpg");
  background-size: cover;
  height:1400px;
}
#main{
  background-image: url("../image/serena-feature-1.png");
  background-size: cover;
  height:1000px;
}
.modal {
  position: absolute;
  z-index: 1000;
 
}
#mainform {
  background-image: url("../image/pic_two.jpg");
  background-size: cover;
  height:1000px;
}

#btn-signup{
  margin-right:90px;
  padding-right:20px;
}

#activity{
  background: rgba(96, 112, 138, 0.9);
  color: beige;
}

.page-header, .sub-header{
  color:beige;
}

.update-activity, .delete-activity{
  color:black;

}
/* ul {
  padding: 5px;
  margin: 10px, auto;

} */

h2 {
  text-align:left;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1,form{
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.RMPosters {
  cursor: pointer;
}

.modal-dialog,h3,.randomMeals,.searchedMeals{
  text-align: center;
}

.navigation {
  width: 100%;
  background-color: black;
}

.logImg {
  width: 25px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	/* position: relative; */
  /* right: -18px; */
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.logoutButton {
	text-decoration: none;
  float: right;
  padding: 12px;
  margin: 20px;
  color: white;
  width: 50px;
  background-color: black;
  transition: width .50s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 120px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

/**responsive**/


/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
 
 
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 #logbar{
   width:100%;
   padding-right:50px;

 }

 #dash{
   width:100%;
   padding: 25px 50px 25px 50px;
}

#first{
  margin: 0px 25px 0px 25px;
}

.progress{
  width:75%;
  margin-left:113px;
}

#second{
  width:100%;
}
#twitter, #spotify{
width:300px;
margin-left:50px;

}

#share-options{
  width:600px;
}

#completed, #planned{
  width: 500px;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.4);
  background-size: cover;
  color:beige;

}
#third{
  width:100%;
}

#plan{
  width:500px;
}

#food{
  width:100%;
  padding-bottom: 20px;
  color: rgb(9, 12, 12);
  background: rgba(0, 0, 0, 0.4);
}

#share{
  margin-left:200px;
  margin-bottom:10px;
  
}
 }

 


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  #logbar{
    width:100%;
    padding-right:50px;
 
  }
 
  #dash{
    width:100%;
    padding: 25px 50px 25px 50px;
 }
 
 #first{
   margin: 0px 25px 0px 25px;
 }
 
 .progress{
   width:75%;
   margin-left:113px;
 }
 
 #second{
   width:100%;
 }
 #twitter, #spotify{
 width:400px;
 margin-left:125px;
 
 }
 
 #share-options{
   width:700px;
   right: -200px;
 }
 
 #completed{
   width: 500px;
     margin-left: 100px;
 
 }

 #planned{
   width:500px;
   margin-left:320px;
}
 #third{
   width:100%;
 }
 
 #plan{
   width:480px;
 }
 
 #food{
   width:100%;
   padding-bottom: 20px;
 }
 
 #share{
   margin-left:200px;
   margin-bottom:10px;
 }

}
  

 






 /**table css*/
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}